body {
  background-color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.nav > li {
  color: darkgray;
  font-size: 18px;
}

.logo1 {
  padding-right: 12rem;
}

.hosting {
  padding-left: 7rem;
}

.login {
  background-color: rgb(2, 73, 251);
  border: none;
  color: white;
  padding: 7px 20px;
  border-radius: 15px;
  font-size: 18px;
  margin-left: 20rem;
  margin-right: 2rem;
}

.para1 {
  min-height: 200px;
  padding-top: 50px;
  color: aliceblue;
  padding-left: 62px;
  font-size: 75px;
  width: 70%;
}

.para2 {
  color: darkgray;
  font-size: 27px;
  padding-left: 62px;
  width: 70%;
  padding-bottom: 8rem;
}

.container1 {
  min-height: 30vh;
  display: flex;
  align-items: center;
  padding-bottom: 3rem;
}

.img1 {
  /* width: 93%; */
  padding-top: 5rem;
  padding-right: 7rem;
  padding-bottom: 5rem;
}

.container2 {
  background-color: rgb(48, 47, 47);
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container2:nth-child(n) img {
  width: 120%;
}
